<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body th:fragment="main-body">

	<div class="container">
	<div th:replace="fragments/gnbArea :: gnb">

	</div>

	<div th:replace="fragments/promotionsArea :: promotions">

	</div>

	<div th:replace="fragments/categoryArea :: category">

	</div>

		<div th:replace="fragments/countingArea :: counting">

		</div>

	<div th:replace="fragments/productListArea :: productList">

	</div>

	<div th:replace="fragments/plusArea :: plus">

	</div>

	</div>

		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/docs.min.js}"></script>

	<!-- custom js -->
	<script th:src="@{/js/categoryCounting.js}"></script>
	<script th:src="@{/js/moreDisplayInfo.js}"></script>
<!--
		<th:block layout:fragment="script"></th:block>-->
	</body>
</html>