<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="category">

    <div class="jumbotron">
    <a>category</a>
    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><button onclick="countingCategory(0)" value="0">전체리스트</button></li>
                <li><button onclick="countingCategory(1)" value="1">전시</button></li>
                <li><button onclick="countingCategory(2)" value="2">뮤지컬</button></li>
                <li><button onclick="countingCategory(3)" value="3">콘서트</button></li>
                <li><button onclick="countingCategory(4)" value="4">클래식</button></li>
                <li><button onclick="countingCategory(5)" value="5">연극</button></li>
            </ul>
        </nav>
    </div>
    </div>
</div>

</html>