<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		<head th:fragment="main-head">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>BookMark Service</title>
			<link type="text/css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
			<!-- Custom styles for this template -->
			<link  rel="stylesheet" th:href="@{/vendor/bootstrap/css/justified-nav.css}">

			<!-- Bootstrap theme -->
			<link th:href="@{/vendor/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link th:href="@{/vendor/bootstrap/css/theme.css}" rel="stylesheet">

		</head>
</html>