<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="plus">

    <div class="jumbotron">
        <a>plus</a>
        <footer class="footer">

            <a class="btn btn-info waves-effect waves-light" style="margin-right: auto; margin-left: auto;">더보기</a>

            <a class="btn btn-default waves-effect waves-light"
               style="display:scroll;position:fixed;bottom:10px;right:10px;" href="#">TOP</a>


        </footer>
    </div>

</div>

</html>